{% extends "rango/base.html" %}

{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block body_block %}
<div class="page-header">
	<h1>User Profile</h1>
</div>
<div class="hero-unit">
	
	<p>Username: {{ user.username }}</p>
	<p>Email: {{ user.email }}</p>
	{% if user.userprofile.website %}
		<p>Website: <a href="{{ user.userprofile.website }}">{{ userprofile.website }}</a></p>
	{% endif %}
    <br/>
    {% if user.userprofile.picture %}
            <img src="{{ user.userprofile.picture.url }}"  />
    {% endif %}
        

</div>
{% endblock %}
